/* set the page to use border-box */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* clear all paddings and margins and set font */
body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
  background-color: #44BBB6;
}

#header {
  color: white;
}

#game-board {
  background: #00AC9B;
}
